[http]
	postBuffer = 524288000
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Douglas F. Medeiros
	email = 80690245+DouglasMedeiros1@users.noreply.github.com
