**/cachedExtensionVSIXs/
setup/config/Code/CachedExtensionVSIXs/oracle.oracle-java-24.0.0
setup/config/Code/CachedExtensionVSIXs/redhat.java-1.44.0-linux-x64
setup/.config/Code/CachedExtensionVSIXs/oracle.oracle-java-24.0.0
setup/.config/Code/CachedExtensionVSIXs/redhat.java-1.44.0-linux-x64
config/Code/CachedExtensionVSIXs/oracle.oracle-java-24.0.0
config/Code/CachedExtensionVSIXs/redhat.java-1.44.0-linux-x64
config/Trash/files/config/Code/CachedExtensionVSIXs/oracle.oracle-java-24.0.0
config/Trash/files/config/Code/CachedExtensionVSIXs/redhat.java-1.44.0-linux-x64
dotfiles/.android/avd/Medium_Phone.avd/sdcard.img
dotfiles/.config/Code/CachedExtensionVSIXs/oracle.oracle-java-24.0.0
dotfiles/.config/Code/CachedExtensionVSIXs/redhat.java-1.44.0-linux-x64
dotfiles/.local/share/Trash/files/config/Code/CachedExtensionVSIXs/redhat.java-1.44.0-linux-x64
dotfiles/.local/share/Trash/files/config/Code/CachedExtensionVSIXs/oracle.oracle-java-24.0.0
