**/cachedExtensionVSIXs/
setup/config/Code/CachedExtensionVSIXs/oracle.oracle-java-24.0.0
setup/config/Code/CachedExtensionVSIXs/redhat.java-1.44.0-linux-x64
setup/.config/Code/CachedExtensionVSIXs/oracle.oracle-java-24.0.0
setup/.config/Code/CachedExtensionVSIXs/redhat.java-1.44.0-linux-x64
